<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Binário para Decimal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Digite um número binário:</ion-label>
    <ion-input type="text" [(ngModel)]="binario"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="converter()">Converter</ion-button>

  <ion-item *ngIf="erro">
    <ion-label color="danger">{{ erro }}</ion-label>
  </ion-item>

  <ion-item *ngIf="decimal !== null">
    <ion-label>Decimal:</ion-label>
    <ion-label>{{ decimal }}</ion-label>
  </ion-item>
</ion-content>
